openapi: 3.1.0
info:
  title: SwitchBot API
  description: |
    Official OpenAPI specification for SwitchBot API v1.1

    This specification is automatically synchronized with the official SwitchBot README documentation.

    For the latest official documentation, visit: https://github.com/OpenWonderLabs/SwitchBotAPI
  version: 1.1.0
  contact:
    name: SwitchBot API Support
    url: https://github.com/OpenWonderLabs/SwitchBotAPI
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://api.switch-bot.com/v1.1
    description: Production API Server
security:
  - SwitchBotAuth: []
tags:
  - name: Devices
    description: Device management and control
  - name: Scenes
    description: Scene management and execution
  - name: Webhook
    description: Webhook configuration and management
paths:
  /devices:
    get:
      tags:
        - Devices
      summary: Get device list
      description: |
        Retrieve a list of all devices associated with your SwitchBot account.

        The response includes physical devices, virtual infrared remote devices,
        and manually created scenes.

        **Note:** The response structure varies by device type. Each device type
        has specific properties in the response body.
      operationId: getDevices
      responses:
        '200':
          description: Device list retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      body:
                        type: object
                        properties:
                          deviceList:
                            type: array
                            description: Array of physical devices
                            items:
                              $ref: '#/components/schemas/DeviceBase'
                          infraredRemoteList:
                            type: array
                            description: Array of virtual infrared remote devices
                            items:
                              $ref: '#/components/schemas/DeviceBase'
              examples:
                success:
                  value:
                    statusCode: 100
                    message: success
                    body:
                      deviceList:
                        - deviceId: 500291B269BE
                          deviceName: Living Room Humidifier
                          deviceType: Humidifier
                          hubDeviceId: '000000000000'
                          enableCloudService: true
                      infraredRemoteList:
                        - deviceId: 02-202008110034-13
                          deviceName: Living Room Air Conditioner
                          deviceType: Air Conditioner
                          hubDeviceId: FA7310762361
                          enableCloudService: false
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /devices/{deviceId}/status:
    get:
      tags:
        - Devices
      summary: Get device status
      description: |
        Retrieve the current status of a specific device.

        The status response structure varies significantly by device type.
        Each device type returns different properties in the body.

        **Note:** Some devices may not support status retrieval.
      operationId: getDeviceStatus
      parameters:
        - $ref: '#/components/parameters/deviceId'
      responses:
        '200':
          description: Device status retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      body:
                        type: object
                        description: Status data (structure varies by device type)
              examples:
                bot:
                  value:
                    statusCode: 100
                    message: success
                    body:
                      deviceId: '210'
                      deviceType: Bot
                      power: 'on'
                      battery: 100
                humidifier:
                  value:
                    statusCode: 100
                    message: success
                    body:
                      deviceId: 500291B269BE
                      deviceType: Humidifier
                      power: 'on'
                      humidity: 52
                      temperature: 26.2
                      nebulizationEfficiency: 100
                      auto: true
                      childLock: false
                      sound: true
                      lackWater: false
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /devices/{deviceId}/commands:
    post:
      tags:
        - Devices
      summary: Send device command
      description: |
        Send a control command to a specific device.

        The command structure varies by device type. Each device supports
        different commandType values and parameters.

        **Note:** Some devices may not support command execution via API.
        Virtual infrared devices use "command" while physical devices use
        "commandType".
      operationId: sendDeviceCommand
      parameters:
        - $ref: '#/components/parameters/deviceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Command request structure varies by device type
              properties:
                commandType:
                  type: string
                  description: |
                    Command type for physical devices (e.g., "command", "customize").
                    Use "command" for virtual IR devices.
                  example: command
                command:
                  type: string
                  description: Specific command to execute (varies by device type)
                  example: turnOn
                parameter:
                  oneOf:
                    - type: string
                    - type: integer
                    - type: object
                  description: Command parameters (optional, varies by command)
                  example: default
              required:
                - command
            examples:
              botOn:
                summary: Turn on Bot
                value:
                  commandType: command
                  command: turnOn
                  parameter: default
              humidifierMode:
                summary: Set humidifier to auto mode
                value:
                  commandType: command
                  command: setMode
                  parameter: auto
              curtainPosition:
                summary: Set curtain position to 50%
                value:
                  commandType: command
                  command: setPosition
                  parameter: 0,ff,50
              irAcPowerOn:
                summary: Turn on IR air conditioner
                value:
                  command: turnOn
      responses:
        '200':
          description: Command sent successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
              examples:
                success:
                  value:
                    statusCode: 100
                    message: success
        '400':
          description: Invalid command or device offline
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                deviceOffline:
                  value:
                    statusCode: 161
                    message: Device offline
                commandNotSupported:
                  value:
                    statusCode: 160
                    message: Command not supported
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /scenes:
    get:
      tags:
        - Scenes
      summary: Get scene list
      description: |
        Retrieve a list of all manual scenes created in your SwitchBot account.

        Manual scenes are user-defined automation sequences that can be triggered
        via the API or the SwitchBot app.
      operationId: getScenes
      responses:
        '200':
          description: Scene list retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      body:
                        type: array
                        description: Array of scene objects
                        items:
                          type: object
                          required:
                            - sceneId
                            - sceneName
                          properties:
                            sceneId:
                              type: string
                              description: Unique scene identifier
                              example: T02-202110151446-12345678
                            sceneName:
                              type: string
                              description: User-defined scene name
                              example: Good Morning
              examples:
                success:
                  value:
                    statusCode: 100
                    message: success
                    body:
                      - sceneId: T02-202110151446-12345678
                        sceneName: Good Morning
                      - sceneId: T02-202110151447-87654321
                        sceneName: Leave Home
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /scenes/{sceneId}/execute:
    post:
      tags:
        - Scenes
      summary: Execute scene
      description: |
        Execute a manual scene by its sceneId.

        This triggers all actions defined in the scene, such as turning on/off
        devices, adjusting settings, etc.
      operationId: executeScene
      parameters:
        - $ref: '#/components/parameters/sceneId'
      responses:
        '200':
          description: Scene executed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
              examples:
                success:
                  value:
                    statusCode: 100
                    message: success
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /webhook/setupWebhook:
    post:
      tags:
        - Webhook
      summary: Setup webhook
      description: |
        Configure a webhook URL to receive device status change notifications.

        When configured, SwitchBot will send POST requests to your webhook URL
        whenever a device's status changes.
      operationId: setupWebhook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - action
                - url
              properties:
                action:
                  type: string
                  description: Action type (always "setupWebhook")
                  enum:
                    - setupWebhook
                  example: setupWebhook
                url:
                  type: string
                  format: uri
                  description: Your webhook endpoint URL (must be HTTPS)
                  example: https://example.com/webhook
                deviceList:
                  type: string
                  description: |
                    Comma-separated list of device IDs to monitor.
                    Use "ALL" to monitor all devices.
                  example: ALL
            examples:
              allDevices:
                summary: Setup webhook for all devices
                value:
                  action: setupWebhook
                  url: https://example.com/webhook
                  deviceList: ALL
              specificDevices:
                summary: Setup webhook for specific devices
                value:
                  action: setupWebhook
                  url: https://example.com/webhook
                  deviceList: C271111EC0AB,E2F6032048AB
      responses:
        '200':
          description: Webhook configured successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /webhook/queryWebhook:
    post:
      tags:
        - Webhook
      summary: Query webhook configuration
      description: Retrieve the current webhook configuration
      operationId: queryWebhook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - action
              properties:
                action:
                  type: string
                  description: Action type (always "queryWebhook")
                  enum:
                    - queryWebhook
                  example: queryWebhook
            examples:
              query:
                value:
                  action: queryWebhook
      responses:
        '200':
          description: Webhook configuration retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      body:
                        type: object
                        properties:
                          urls:
                            type: array
                            items:
                              type: object
                              properties:
                                url:
                                  type: string
                                  format: uri
                                createTime:
                                  type: integer
                                  description: Unix timestamp (milliseconds)
                                lastUpdateTime:
                                  type: integer
                                  description: Unix timestamp (milliseconds)
                                deviceList:
                                  type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /webhook/updateWebhook:
    post:
      tags:
        - Webhook
      summary: Update webhook configuration
      description: Modify the existing webhook URL or device list
      operationId: updateWebhook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - action
                - config
              properties:
                action:
                  type: string
                  description: Action type (always "updateWebhook")
                  enum:
                    - updateWebhook
                  example: updateWebhook
                config:
                  type: object
                  required:
                    - url
                  properties:
                    url:
                      type: string
                      format: uri
                      description: New webhook URL
                    deviceList:
                      type: string
                      description: Updated device list
            examples:
              update:
                value:
                  action: updateWebhook
                  config:
                    url: https://example.com/new-webhook
                    deviceList: ALL
      responses:
        '200':
          description: Webhook updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /webhook/deleteWebhook:
    post:
      tags:
        - Webhook
      summary: Delete webhook
      description: Remove the configured webhook
      operationId: deleteWebhook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - action
                - url
              properties:
                action:
                  type: string
                  description: Action type (always "deleteWebhook")
                  enum:
                    - deleteWebhook
                  example: deleteWebhook
                url:
                  type: string
                  format: uri
                  description: Webhook URL to delete
            examples:
              delete:
                value:
                  action: deleteWebhook
                  url: https://example.com/webhook
      responses:
        '200':
          description: Webhook deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  securitySchemes:
    SwitchBotAuth:
      type: apiKey
      in: header
      name: Authorization
      description: |
        SwitchBot API authentication requires four headers:

        1. **Authorization**: Your access token
        2. **sign**: HMAC-SHA256 signature computed from (token + t + nonce)
        3. **t**: Current timestamp in milliseconds (13-digit Unix timestamp)
        4. **nonce**: Random UUID for replay attack prevention

        Example signature calculation (pseudo-code):
        ```
        const stringToSign = token + t + nonce
        const sign = HMAC_SHA256(secret, stringToSign).toBase64()
        ```

        All four headers must be included in every request.
    SignatureHeader:
      type: apiKey
      in: header
      name: sign
      description: HMAC-SHA256 signature of (token + t + nonce) using your client secret
    TimestampHeader:
      type: apiKey
      in: header
      name: t
      description: Current Unix timestamp in milliseconds (13 digits)
    NonceHeader:
      type: apiKey
      in: header
      name: nonce
      description: Random UUID to prevent replay attacks
  parameters:
    deviceId:
      name: deviceId
      in: path
      required: true
      description: Unique device identifier obtained from GET /devices
      schema:
        type: string
        example: C271111EC0AB
      examples:
        bot:
          value: '210'
          summary: Bot device ID
        curtain:
          value: E2F6032048AB
          summary: Curtain device ID
    sceneId:
      name: sceneId
      in: path
      required: true
      description: Unique scene identifier obtained from GET /scenes
      schema:
        type: string
        example: T02-20200804130110
      examples:
        manual:
          value: T02-202110151446-12345678
          summary: Manual scene ID
  responses:
    Unauthorized:
      description: Authentication failed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            invalidToken:
              value:
                statusCode: 190
                message: Unauthorized
            signatureError:
              value:
                statusCode: 100
                message: Signature verification failed
    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            serverError:
              value:
                statusCode: 171
                message: System error
    BadRequest:
      description: Invalid request parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            invalidParameter:
              value:
                statusCode: 151
                message: Device not found
    Success:
      description: Request successful
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/BaseResponse'
    RateLimitExceeded:
      description: Request rate limit exceeded
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            tooManyRequests:
              value:
                statusCode: 169
                message: Too many requests
  schemas:
    BaseResponse:
      type: object
      required:
        - statusCode
        - message
      properties:
        statusCode:
          type: integer
          description: Response status code (100 for success)
          example: 100
        message:
          type: string
          description: Response message
          example: success
        body:
          description: Response payload (structure varies by endpoint)
          oneOf:
            - type: object
            - type: array
    ErrorResponse:
      type: object
      required:
        - statusCode
        - message
      properties:
        statusCode:
          type: integer
          description: |
            Error code indicating the type of failure:
            - 100: Signature verification failed
            - 151: Device not found
            - 152: Device type not supported
            - 160: Command not supported
            - 161: Device offline
            - 162: Device internal error
            - 169: Too many requests
            - 171: System error
            - 190: Unauthorized / Invalid token
          enum:
            - 100
            - 151
            - 152
            - 160
            - 161
            - 162
            - 169
            - 171
            - 190
          example: 190
        message:
          type: string
          description: Human-readable error message
          example: Unauthorized
    DeviceBase:
      type: object
      description: Common properties for all devices
      required:
        - deviceId
        - deviceName
        - deviceType
        - hubDeviceId
      properties:
        deviceId:
          type: string
          description: Unique device identifier
          example: C271111EC0AB
        deviceName:
          type: string
          description: User-defined device name
          example: Living Room Bot
        deviceType:
          type: string
          description: Device type identifier
          example: Bot
        hubDeviceId:
          type: string
          description: Parent Hub device ID (empty string for Hub devices)
          example: FA7310762361
        enableCloudService:
          type: boolean
          description: Whether cloud service is enabled for this device
          example: true
    BotDevice:
      allOf:
        - $ref: '#/components/schemas/DeviceBase'
        - type: object
          properties:
            deviceType:
              type: string
              enum:
                - Bot
              example: Bot
    BotStatus:
      type: object
      description: Bot device status
      required:
        - deviceId
        - deviceType
        - power
      properties:
        deviceId:
          type: string
          example: '210'
        deviceType:
          type: string
          enum:
            - Bot
          example: Bot
        power:
          type: string
          description: Device power state
          enum:
            - 'on'
            - 'off'
          example: 'on'
        battery:
          type: integer
          description: Battery level percentage (0-100)
          minimum: 0
          maximum: 100
          example: 100
    BotCommand:
      type: object
      description: Bot device command
      required:
        - commandType
        - command
      properties:
        commandType:
          type: string
          description: Command type
          enum:
            - command
          example: command
        command:
          type: string
          description: |
            Command to execute:
            - turnOn: Trigger the Bot (press)
            - turnOff: Trigger the Bot (retract)
          enum:
            - turnOn
            - turnOff
          example: turnOn
        parameter:
          type: string
          description: Command parameter (typically "default")
          enum:
            - default
          example: default
    PlugDevice:
      allOf:
        - $ref: '#/components/schemas/DeviceBase'
        - type: object
          properties:
            deviceType:
              type: string
              enum:
                - Plug
                - Plug Mini (US)
                - Plug Mini (JP)
              example: Plug
    PlugStatus:
      type: object
      description: Plug device status
      required:
        - deviceId
        - deviceType
        - power
      properties:
        deviceId:
          type: string
          example: 84F70353A4D0
        deviceType:
          type: string
          enum:
            - Plug
            - Plug Mini (US)
            - Plug Mini (JP)
          example: Plug
        power:
          type: string
          description: Power state
          enum:
            - 'on'
            - 'off'
          example: 'on'
        voltage:
          type: number
          description: Current voltage in V
          example: 120.5
        weight:
          type: number
          description: Current power consumption in W
          example: 15.3
        electricCurrent:
          type: number
          description: Current in A
          example: 0.127
    PlugCommand:
      type: object
      description: Plug device command
      required:
        - commandType
        - command
      properties:
        commandType:
          type: string
          description: Command type
          enum:
            - command
          example: command
        command:
          type: string
          description: |
            Command to execute:
            - turnOn: Turn on the plug
            - turnOff: Turn off the plug
            - toggle: Toggle power state
          enum:
            - turnOn
            - turnOff
            - toggle
          example: turnOn
        parameter:
          type: string
          description: Command parameter (typically "default")
          enum:
            - default
          example: default
    PlugWebhookEvent:
      type: object
      description: Plug webhook event payload
      required:
        - eventType
        - eventVersion
        - context
      properties:
        eventType:
          type: string
          enum:
            - changeReport
          example: changeReport
        eventVersion:
          type: string
          example: '1'
        context:
          type: object
          required:
            - deviceType
            - deviceMac
            - power
            - timeOfSample
          properties:
            deviceType:
              type: string
              enum:
                - Plug
                - Plug Mini (US)
                - Plug Mini (JP)
            deviceMac:
              type: string
              description: Device MAC address
              example: 84F70353A4D0
            power:
              type: string
              enum:
                - 'on'
                - 'off'
            voltage:
              type: number
            weight:
              type: number
            electricCurrent:
              type: number
            timeOfSample:
              type: integer
              description: Unix timestamp in milliseconds
              example: 1658123456789
    CurtainDevice:
      allOf:
        - $ref: '#/components/schemas/DeviceBase'
        - type: object
          properties:
            deviceType:
              type: string
              enum:
                - Curtain
                - Curtain3
              example: Curtain
            curtainDevicesIds:
              type: array
              description: List of Curtain device IDs (for paired curtains)
              items:
                type: string
              example:
                - E2F6032048AB
                - E2F6032048AC
            calibrate:
              type: boolean
              description: Whether the curtain is calibrated
              example: true
            group:
              type: boolean
              description: Whether the curtain is in a group
              example: false
            master:
              type: boolean
              description: Whether this is the master curtain in a group
              example: true
            openDirection:
              type: string
              description: Direction curtain opens
              enum:
                - left
                - right
              example: left
    CurtainStatus:
      type: object
      description: Curtain device status
      required:
        - deviceId
        - deviceType
        - slidePosition
        - moving
      properties:
        deviceId:
          type: string
          example: E2F6032048AB
        deviceType:
          type: string
          enum:
            - Curtain
            - Curtain3
          example: Curtain
        slidePosition:
          type: integer
          description: Current position (0=closed, 100=open)
          minimum: 0
          maximum: 100
          example: 50
        moving:
          type: boolean
          description: Whether the curtain is currently moving
          example: false
        brightness:
          type: string
          description: Brightness level detected by light sensor
          enum:
            - bright
            - dim
          example: bright
        battery:
          type: integer
          description: Battery level percentage (0-100)
          minimum: 0
          maximum: 100
          example: 90
        calibrate:
          type: boolean
          description: Whether the curtain is calibrated
          example: true
        group:
          type: boolean
          description: Whether the curtain is in a group
          example: false
        version:
          type: integer
          description: Firmware version
          example: 4
    CurtainCommand:
      type: object
      description: Curtain device command
      required:
        - commandType
        - command
      properties:
        commandType:
          type: string
          description: Command type
          enum:
            - command
          example: command
        command:
          type: string
          description: |
            Command to execute:
            - turnOn: Open curtain
            - turnOff: Close curtain
            - setPosition: Set to specific position
          enum:
            - turnOn
            - turnOff
            - setPosition
          example: setPosition
        parameter:
          type: string
          description: |
            Command parameter:
            - For turnOn/turnOff: "default"
            - For setPosition: "0,ff,<position>" where position is 0-100
              Example: "0,ff,50" sets position to 50%
          example: 0,ff,50
    CurtainWebhookEvent:
      type: object
      description: Curtain webhook event payload
      required:
        - eventType
        - eventVersion
        - context
      properties:
        eventType:
          type: string
          enum:
            - changeReport
          example: changeReport
        eventVersion:
          type: string
          example: '1'
        context:
          type: object
          required:
            - deviceType
            - deviceMac
            - slidePosition
            - timeOfSample
          properties:
            deviceType:
              type: string
              enum:
                - Curtain
                - Curtain3
            deviceMac:
              type: string
              description: Device MAC address
              example: E2F6032048AB
            slidePosition:
              type: integer
              minimum: 0
              maximum: 100
            moving:
              type: boolean
            brightness:
              type: string
              enum:
                - bright
                - dim
            battery:
              type: integer
              minimum: 0
              maximum: 100
            calibrate:
              type: boolean
            group:
              type: boolean
            timeOfSample:
              type: integer
              description: Unix timestamp in milliseconds
              example: 1658123456789
    HumidifierDevice:
      allOf:
        - $ref: '#/components/schemas/DeviceBase'
        - type: object
          properties:
            deviceType:
              type: string
              enum:
                - Humidifier
              example: Humidifier
    HumidifierStatus:
      type: object
      description: Humidifier device status
      required:
        - deviceId
        - deviceType
        - power
        - humidity
        - temperature
      properties:
        deviceId:
          type: string
          example: 500291B269BE
        deviceType:
          type: string
          enum:
            - Humidifier
          example: Humidifier
        power:
          type: string
          description: Power state
          enum:
            - 'on'
            - 'off'
          example: 'on'
        humidity:
          type: integer
          description: Current humidity percentage (0-100)
          minimum: 0
          maximum: 100
          example: 52
        temperature:
          type: number
          description: Current temperature in Celsius
          example: 26.2
        nebulizationEfficiency:
          type: integer
          description: Nebulization efficiency percentage (0-100)
          minimum: 0
          maximum: 100
          example: 100
        auto:
          type: boolean
          description: Auto mode enabled
          example: true
        childLock:
          type: boolean
          description: Child lock enabled
          example: false
        sound:
          type: boolean
          description: Sound/buzzer enabled
          example: true
        lackWater:
          type: boolean
          description: Water tank is empty
          example: false
    HumidifierCommand:
      type: object
      description: Humidifier device command
      required:
        - commandType
        - command
      properties:
        commandType:
          type: string
          description: Command type
          enum:
            - command
          example: command
        command:
          type: string
          description: |
            Command to execute:
            - turnOn: Turn on the humidifier
            - turnOff: Turn off the humidifier
            - setMode: Set operation mode (auto, low, medium, high)
          enum:
            - turnOn
            - turnOff
            - setMode
          example: setMode
        parameter:
          oneOf:
            - type: string
              enum:
                - default
                - auto
                - low
                - medium
                - high
          description: |
            Command parameter:
            - For turnOn/turnOff: "default"
            - For setMode: "auto", "low", "medium", or "high"
          example: auto
    HumidifierWebhookEvent:
      type: object
      description: Humidifier webhook event payload
      required:
        - eventType
        - eventVersion
        - context
      properties:
        eventType:
          type: string
          enum:
            - changeReport
          example: changeReport
        eventVersion:
          type: string
          example: '1'
        context:
          type: object
          required:
            - deviceType
            - deviceMac
            - power
            - humidity
            - temperature
            - timeOfSample
          properties:
            deviceType:
              type: string
              enum:
                - Humidifier
            deviceMac:
              type: string
              description: Device MAC address
              example: 500291B269BE
            power:
              type: string
              enum:
                - 'on'
                - 'off'
            humidity:
              type: integer
              minimum: 0
              maximum: 100
            temperature:
              type: number
            nebulizationEfficiency:
              type: integer
              minimum: 0
              maximum: 100
            auto:
              type: boolean
            childLock:
              type: boolean
            sound:
              type: boolean
            lackWater:
              type: boolean
            timeOfSample:
              type: integer
              description: Unix timestamp in milliseconds
              example: 1658123456789
    LockDevice:
      allOf:
        - $ref: '#/components/schemas/DeviceBase'
        - type: object
          properties:
            deviceType:
              type: string
              enum:
                - Smart Lock
              example: Smart Lock
    LockStatus:
      type: object
      description: Smart Lock device status
      required:
        - deviceId
        - deviceType
        - lockState
        - doorState
      properties:
        deviceId:
          type: string
          example: E217643216B6
        deviceType:
          type: string
          enum:
            - Smart Lock
          example: Smart Lock
        lockState:
          type: string
          description: Current lock state
          enum:
            - locked
            - unlocked
            - jammed
          example: locked
        doorState:
          type: string
          description: Current door state
          enum:
            - closed
            - opened
            - unknown
          example: closed
        calibrate:
          type: boolean
          description: Whether the lock is calibrated
          example: true
        battery:
          type: integer
          description: Battery level percentage (0-100)
          minimum: 0
          maximum: 100
          example: 85
    LockCommand:
      type: object
      description: Smart Lock device command
      required:
        - commandType
        - command
      properties:
        commandType:
          type: string
          description: Command type
          enum:
            - command
          example: command
        command:
          type: string
          description: |
            Command to execute:
            - lock: Lock the door
            - unlock: Unlock the door
          enum:
            - lock
            - unlock
          example: lock
        parameter:
          type: string
          description: Command parameter (typically "default")
          enum:
            - default
          example: default
    LockWebhookEvent:
      type: object
      description: Smart Lock webhook event payload
      required:
        - eventType
        - eventVersion
        - context
      properties:
        eventType:
          type: string
          enum:
            - changeReport
          example: changeReport
        eventVersion:
          type: string
          example: '1'
        context:
          type: object
          required:
            - deviceType
            - deviceMac
            - lockState
            - doorState
            - timeOfSample
          properties:
            deviceType:
              type: string
              enum:
                - Smart Lock
            deviceMac:
              type: string
              description: Device MAC address
              example: E217643216B6
            lockState:
              type: string
              enum:
                - locked
                - unlocked
                - jammed
            doorState:
              type: string
              enum:
                - closed
                - opened
                - unknown
            calibrate:
              type: boolean
            battery:
              type: integer
              minimum: 0
              maximum: 100
            timeOfSample:
              type: integer
              description: Unix timestamp in milliseconds
              example: 1658123456789
    MeterDevice:
      allOf:
        - $ref: '#/components/schemas/DeviceBase'
        - type: object
          properties:
            deviceType:
              type: string
              enum:
                - Meter
                - MeterPlus
                - Meter Pro
                - Meter Pro (CO2)
                - WoIOSensor
              example: Meter
    MeterStatus:
      type: object
      description: Meter/Sensor device status
      required:
        - deviceId
        - deviceType
        - temperature
        - humidity
      properties:
        deviceId:
          type: string
          example: C271111EC0AB
        deviceType:
          type: string
          enum:
            - Meter
            - MeterPlus
            - Meter Pro
            - Meter Pro (CO2)
            - WoIOSensor
          example: Meter
        temperature:
          type: number
          description: Temperature in Celsius
          example: 23.5
        humidity:
          type: integer
          description: Humidity percentage (0-100)
          minimum: 0
          maximum: 100
          example: 45
        battery:
          type: integer
          description: Battery level percentage (0-100)
          minimum: 0
          maximum: 100
          example: 95
        version:
          type: integer
          description: Firmware version
          example: 2
        CO2:
          type: integer
          description: CO2 level in ppm (Meter Pro CO2 only)
          minimum: 0
          example: 450
    MeterWebhookEvent:
      type: object
      description: Meter webhook event payload
      required:
        - eventType
        - eventVersion
        - context
      properties:
        eventType:
          type: string
          enum:
            - changeReport
          example: changeReport
        eventVersion:
          type: string
          example: '1'
        context:
          type: object
          required:
            - deviceType
            - deviceMac
            - temperature
            - humidity
            - timeOfSample
          properties:
            deviceType:
              type: string
              enum:
                - Meter
                - MeterPlus
                - Meter Pro
                - Meter Pro (CO2)
                - WoIOSensor
            deviceMac:
              type: string
              description: Device MAC address
              example: C271111EC0AB
            temperature:
              type: number
            humidity:
              type: integer
              minimum: 0
              maximum: 100
            battery:
              type: integer
              minimum: 0
              maximum: 100
            CO2:
              type: integer
              minimum: 0
            timeOfSample:
              type: integer
              description: Unix timestamp in milliseconds
              example: 1658123456789
    HubDevice:
      allOf:
        - $ref: '#/components/schemas/DeviceBase'
        - type: object
          properties:
            deviceType:
              type: string
              enum:
                - Hub
                - Hub Plus
                - Hub Mini
                - Hub 2
              example: Hub Mini
    HubStatus:
      type: object
      description: Hub device status
      required:
        - deviceId
        - deviceType
        - hubDeviceId
      properties:
        deviceId:
          type: string
          example: FA7310762361
        deviceType:
          type: string
          enum:
            - Hub
            - Hub Plus
            - Hub Mini
            - Hub 2
          example: Hub Mini
        hubDeviceId:
          type: string
          description: Hub device ID (same as deviceId for Hub devices)
          example: FA7310762361
        temperature:
          type: number
          description: Temperature in Celsius (Hub 2 and Hub Plus only)
          example: 22.5
        humidity:
          type: integer
          description: Humidity percentage (Hub 2 and Hub Plus only)
          minimum: 0
          maximum: 100
          example: 50
        lightLevel:
          type: integer
          description: Light level (Hub 2 only, 1-20)
          minimum: 1
          maximum: 20
          example: 10
        version:
          type: integer
          description: Firmware version
          example: 3
    ColorBulbDevice:
      allOf:
        - $ref: '#/components/schemas/DeviceBase'
        - type: object
          properties:
            deviceType:
              type: string
              enum:
                - Color Bulb
              example: Color Bulb
    ColorBulbStatus:
      type: object
      description: Color Bulb device status
      required:
        - deviceId
        - deviceType
        - power
        - brightness
        - color
      properties:
        deviceId:
          type: string
          example: A1B2C3D4E5F6
        deviceType:
          type: string
          enum:
            - Color Bulb
          example: Color Bulb
        power:
          type: string
          description: Power state
          enum:
            - 'on'
            - 'off'
          example: 'on'
        brightness:
          type: integer
          description: Brightness level (1-100)
          minimum: 1
          maximum: 100
          example: 75
        color:
          type: string
          description: RGB color in hex format
          pattern: ^[0-9A-Fa-f]{6}$
          example: FF6347
        colorTemperature:
          type: integer
          description: Color temperature in Kelvin (2700-6500)
          minimum: 2700
          maximum: 6500
          example: 4000
    ColorBulbCommand:
      type: object
      description: Color Bulb device command
      required:
        - commandType
        - command
      properties:
        commandType:
          type: string
          description: Command type
          enum:
            - command
          example: command
        command:
          type: string
          description: |
            Command to execute:
            - turnOn: Turn on the bulb
            - turnOff: Turn off the bulb
            - toggle: Toggle power state
            - setBrightness: Set brightness level
            - setColor: Set RGB color
            - setColorTemperature: Set color temperature
          enum:
            - turnOn
            - turnOff
            - toggle
            - setBrightness
            - setColor
            - setColorTemperature
          example: setColor
        parameter:
          oneOf:
            - type: string
              description: For turnOn/turnOff/toggle
              enum:
                - default
            - type: integer
              description: For setBrightness (1-100) or setColorTemperature (2700-6500)
              minimum: 1
            - type: string
              description: For setColor (RGB hex)
              pattern: ^[0-9A-Fa-f]{6}$
          example: FF6347
    ColorBulbWebhookEvent:
      type: object
      description: Color Bulb webhook event payload
      required:
        - eventType
        - eventVersion
        - context
      properties:
        eventType:
          type: string
          enum:
            - changeReport
          example: changeReport
        eventVersion:
          type: string
          example: '1'
        context:
          type: object
          required:
            - deviceType
            - deviceMac
            - power
            - brightness
            - color
            - timeOfSample
          properties:
            deviceType:
              type: string
              enum:
                - Color Bulb
            deviceMac:
              type: string
              description: Device MAC address
              example: A1B2C3D4E5F6
            power:
              type: string
              enum:
                - 'on'
                - 'off'
            brightness:
              type: integer
              minimum: 1
              maximum: 100
            color:
              type: string
              pattern: ^[0-9A-Fa-f]{6}$
            colorTemperature:
              type: integer
              minimum: 2700
              maximum: 6500
            timeOfSample:
              type: integer
              description: Unix timestamp in milliseconds
              example: 1658123456789
    StripLightDevice:
      allOf:
        - $ref: '#/components/schemas/DeviceBase'
        - type: object
          properties:
            deviceType:
              type: string
              enum:
                - Strip Light
              example: Strip Light
    StripLight3Device:
      allOf:
        - $ref: '#/components/schemas/DeviceBase'
        - type: object
          properties:
            deviceType:
              type: string
              enum:
                - Strip Light 3
              example: Strip Light 3
    StripLightStatus:
      type: object
      description: Strip Light device status
      required:
        - deviceId
        - deviceType
        - power
        - brightness
        - color
      properties:
        deviceId:
          type: string
          example: A1B2C3D4E5F6
        deviceType:
          type: string
          enum:
            - Strip Light
          example: Strip Light
        power:
          type: string
          description: Power state
          enum:
            - 'on'
            - 'off'
          example: 'on'
        brightness:
          type: integer
          description: Brightness level (1-100)
          minimum: 1
          maximum: 100
          example: 75
        color:
          type: string
          description: RGB color in hex format
          pattern: ^[0-9A-Fa-f]{6}$
          example: FF6347
    StripLight3Status:
      type: object
      description: Strip Light 3 device status
      required:
        - deviceId
        - deviceType
        - power
        - brightness
        - color
      properties:
        deviceId:
          type: string
          example: A1B2C3D4E5F6
        deviceType:
          type: string
          enum:
            - Strip Light 3
          example: Strip Light 3
        power:
          type: string
          description: Power state
          enum:
            - 'on'
            - 'off'
          example: 'on'
        brightness:
          type: integer
          description: Brightness level (1-100)
          minimum: 1
          maximum: 100
          example: 75
        color:
          type: string
          description: RGB color in hex format
          pattern: ^[0-9A-Fa-f]{6}$
          example: FF6347
        colorTemperature:
          type: integer
          description: Color temperature in Kelvin (2700-6500)
          minimum: 2700
          maximum: 6500
          example: 4000
    StripLightCommand:
      type: object
      description: Strip Light device command
      required:
        - commandType
        - command
      properties:
        commandType:
          type: string
          description: Command type
          enum:
            - command
          example: command
        command:
          type: string
          description: |
            Command to execute:
            - turnOn: Turn on the strip light
            - turnOff: Turn off the strip light
            - setBrightness: Set brightness level
            - setColor: Set RGB color
          enum:
            - turnOn
            - turnOff
            - setBrightness
            - setColor
          example: setColor
        parameter:
          oneOf:
            - type: string
              description: For turnOn/turnOff
              enum:
                - default
            - type: integer
              description: For setBrightness (1-100)
              minimum: 1
              maximum: 100
            - type: string
              description: For setColor (RGB hex)
              pattern: ^[0-9A-Fa-f]{6}$
          example: FF6347
    StripLight3Command:
      type: object
      description: Strip Light 3 device command
      required:
        - commandType
        - command
      properties:
        commandType:
          type: string
          description: Command type
          enum:
            - command
          example: command
        command:
          type: string
          description: |
            Command to execute:
            - turnOn: Turn on the strip light
            - turnOff: Turn off the strip light
            - setBrightness: Set brightness level
            - setColor: Set RGB color
            - setColorTemperature: Set color temperature
          enum:
            - turnOn
            - turnOff
            - setBrightness
            - setColor
            - setColorTemperature
          example: setColor
        parameter:
          oneOf:
            - type: string
              description: For turnOn/turnOff
              enum:
                - default
            - type: integer
              description: For setBrightness (1-100) or setColorTemperature (2700-6500)
              minimum: 1
            - type: string
              description: For setColor (RGB hex)
              pattern: ^[0-9A-Fa-f]{6}$
          example: FF6347
    StripLightWebhookEvent:
      type: object
      description: Strip Light webhook event payload
      required:
        - eventType
        - eventVersion
        - context
      properties:
        eventType:
          type: string
          enum:
            - changeReport
          example: changeReport
        eventVersion:
          type: string
          example: '1'
        context:
          type: object
          required:
            - deviceType
            - deviceMac
            - power
            - brightness
            - color
            - timeOfSample
          properties:
            deviceType:
              type: string
              enum:
                - Strip Light
            deviceMac:
              type: string
              description: Device MAC address
              example: A1B2C3D4E5F6
            power:
              type: string
              enum:
                - 'on'
                - 'off'
            brightness:
              type: integer
              minimum: 1
              maximum: 100
            color:
              type: string
              pattern: ^[0-9A-Fa-f]{6}$
            timeOfSample:
              type: integer
              description: Unix timestamp in milliseconds
              example: 1658123456789
    StripLight3WebhookEvent:
      type: object
      description: Strip Light 3 webhook event payload
      required:
        - eventType
        - eventVersion
        - context
      properties:
        eventType:
          type: string
          enum:
            - changeReport
          example: changeReport
        eventVersion:
          type: string
          example: '1'
        context:
          type: object
          required:
            - deviceType
            - deviceMac
            - power
            - brightness
            - color
            - timeOfSample
          properties:
            deviceType:
              type: string
              enum:
                - Strip Light 3
            deviceMac:
              type: string
              description: Device MAC address
              example: A1B2C3D4E5F6
            power:
              type: string
              enum:
                - 'on'
                - 'off'
            brightness:
              type: integer
              minimum: 1
              maximum: 100
            color:
              type: string
              pattern: ^[0-9A-Fa-f]{6}$
            colorTemperature:
              type: integer
              minimum: 2700
              maximum: 6500
            timeOfSample:
              type: integer
              description: Unix timestamp in milliseconds
              example: 1658123456789
    CeilingLightDevice:
      allOf:
        - $ref: '#/components/schemas/DeviceBase'
        - type: object
          properties:
            deviceType:
              type: string
              enum:
                - Ceiling Light
              example: Ceiling Light
    CeilingLightProDevice:
      allOf:
        - $ref: '#/components/schemas/DeviceBase'
        - type: object
          properties:
            deviceType:
              type: string
              enum:
                - Ceiling Light Pro
              example: Ceiling Light Pro
    CeilingLightStatus:
      type: object
      description: Ceiling Light device status
      required:
        - deviceId
        - deviceType
        - power
        - brightness
      properties:
        deviceId:
          type: string
          example: A1B2C3D4E5F6
        deviceType:
          type: string
          enum:
            - Ceiling Light
            - Ceiling Light Pro
          example: Ceiling Light
        power:
          type: string
          description: Power state
          enum:
            - 'on'
            - 'off'
          example: 'on'
        brightness:
          type: integer
          description: Brightness level (1-100)
          minimum: 1
          maximum: 100
          example: 75
        colorTemperature:
          type: integer
          description: Color temperature in Kelvin (2700-6500)
          minimum: 2700
          maximum: 6500
          example: 4000
    CeilingLightCommand:
      type: object
      description: Ceiling Light device command
      required:
        - commandType
        - command
      properties:
        commandType:
          type: string
          description: Command type
          enum:
            - command
          example: command
        command:
          type: string
          description: |
            Command to execute:
            - turnOn: Turn on the ceiling light
            - turnOff: Turn off the ceiling light
            - setBrightness: Set brightness level
            - setColorTemperature: Set color temperature
          enum:
            - turnOn
            - turnOff
            - setBrightness
            - setColorTemperature
          example: setBrightness
        parameter:
          oneOf:
            - type: string
              description: For turnOn/turnOff
              enum:
                - default
            - type: integer
              description: For setBrightness (1-100) or setColorTemperature (2700-6500)
              minimum: 1
          example: 75
    CeilingLightWebhookEvent:
      type: object
      description: Ceiling Light webhook event payload
      required:
        - eventType
        - eventVersion
        - context
      properties:
        eventType:
          type: string
          enum:
            - changeReport
          example: changeReport
        eventVersion:
          type: string
          example: '1'
        context:
          type: object
          required:
            - deviceType
            - deviceMac
            - power
            - brightness
            - timeOfSample
          properties:
            deviceType:
              type: string
              enum:
                - Ceiling Light
                - Ceiling Light Pro
            deviceMac:
              type: string
              description: Device MAC address
              example: A1B2C3D4E5F6
            power:
              type: string
              enum:
                - 'on'
                - 'off'
            brightness:
              type: integer
              minimum: 1
              maximum: 100
            colorTemperature:
              type: integer
              minimum: 2700
              maximum: 6500
            timeOfSample:
              type: integer
              description: Unix timestamp in milliseconds
              example: 1658123456789
    FloorLampDevice:
      allOf:
        - $ref: '#/components/schemas/DeviceBase'
        - type: object
          properties:
            deviceType:
              type: string
              enum:
                - Floor Lamp
              example: Floor Lamp
    FloorLampStatus:
      type: object
      description: Floor Lamp device status
      required:
        - deviceId
        - deviceType
        - power
        - brightness
        - color
      properties:
        deviceId:
          type: string
          example: A1B2C3D4E5F6
        deviceType:
          type: string
          enum:
            - Floor Lamp
          example: Floor Lamp
        power:
          type: string
          description: Power state
          enum:
            - 'on'
            - 'off'
          example: 'on'
        brightness:
          type: integer
          description: Brightness level (1-100)
          minimum: 1
          maximum: 100
          example: 75
        color:
          type: string
          description: RGB color in hex format
          pattern: ^[0-9A-Fa-f]{6}$
          example: FF6347
        colorTemperature:
          type: integer
          description: Color temperature in Kelvin (2700-6500)
          minimum: 2700
          maximum: 6500
          example: 4000
    FloorLampCommand:
      type: object
      description: Floor Lamp device command
      required:
        - commandType
        - command
      properties:
        commandType:
          type: string
          description: Command type
          enum:
            - command
          example: command
        command:
          type: string
          description: |
            Command to execute:
            - turnOn: Turn on the floor lamp
            - turnOff: Turn off the floor lamp
            - setBrightness: Set brightness level
            - setColor: Set RGB color
            - setColorTemperature: Set color temperature
          enum:
            - turnOn
            - turnOff
            - setBrightness
            - setColor
            - setColorTemperature
          example: setColor
        parameter:
          oneOf:
            - type: string
              description: For turnOn/turnOff
              enum:
                - default
            - type: integer
              description: For setBrightness (1-100) or setColorTemperature (2700-6500)
              minimum: 1
            - type: string
              description: For setColor (RGB hex)
              pattern: ^[0-9A-Fa-f]{6}$
          example: FF6347
    FloorLampWebhookEvent:
      type: object
      description: Floor Lamp webhook event payload
      required:
        - eventType
        - eventVersion
        - context
      properties:
        eventType:
          type: string
          enum:
            - changeReport
          example: changeReport
        eventVersion:
          type: string
          example: '1'
        context:
          type: object
          required:
            - deviceType
            - deviceMac
            - power
            - brightness
            - color
            - timeOfSample
          properties:
            deviceType:
              type: string
              enum:
                - Floor Lamp
            deviceMac:
              type: string
              description: Device MAC address
              example: A1B2C3D4E5F6
            power:
              type: string
              enum:
                - 'on'
                - 'off'
            brightness:
              type: integer
              minimum: 1
              maximum: 100
            color:
              type: string
              pattern: ^[0-9A-Fa-f]{6}$
            colorTemperature:
              type: integer
              minimum: 2700
              maximum: 6500
            timeOfSample:
              type: integer
              description: Unix timestamp in milliseconds
              example: 1658123456789
    RGBICWWStripLightDevice:
      allOf:
        - $ref: '#/components/schemas/DeviceBase'
        - type: object
          properties:
            deviceType:
              type: string
              enum:
                - RGBICWW Strip Light
              example: RGBICWW Strip Light
    RGBICWWStripLightStatus:
      type: object
      description: RGBICWW Strip Light device status
      required:
        - deviceId
        - deviceType
        - power
        - brightness
        - color
      properties:
        deviceId:
          type: string
          example: A1B2C3D4E5F6
        deviceType:
          type: string
          enum:
            - RGBICWW Strip Light
          example: RGBICWW Strip Light
        power:
          type: string
          description: Power state
          enum:
            - 'on'
            - 'off'
          example: 'on'
        brightness:
          type: integer
          description: Brightness level (1-100)
          minimum: 1
          maximum: 100
          example: 75
        color:
          type: string
          description: RGB color in hex format
          pattern: ^[0-9A-Fa-f]{6}$
          example: FF6347
        colorTemperature:
          type: integer
          description: Color temperature in Kelvin (2700-6500)
          minimum: 2700
          maximum: 6500
          example: 4000
    RGBICWWStripLightCommand:
      type: object
      description: RGBICWW Strip Light device command
      required:
        - commandType
        - command
      properties:
        commandType:
          type: string
          description: Command type
          enum:
            - command
          example: command
        command:
          type: string
          description: |
            Command to execute:
            - turnOn: Turn on the strip light
            - turnOff: Turn off the strip light
            - setBrightness: Set brightness level
            - setColor: Set RGB color
            - setColorTemperature: Set color temperature
          enum:
            - turnOn
            - turnOff
            - setBrightness
            - setColor
            - setColorTemperature
          example: setColor
        parameter:
          oneOf:
            - type: string
              description: For turnOn/turnOff
              enum:
                - default
            - type: integer
              description: For setBrightness (1-100) or setColorTemperature (2700-6500)
              minimum: 1
            - type: string
              description: For setColor (RGB hex)
              pattern: ^[0-9A-Fa-f]{6}$
          example: FF6347
    RGBICWWStripLightWebhookEvent:
      type: object
      description: RGBICWW Strip Light webhook event payload
      required:
        - eventType
        - eventVersion
        - context
      properties:
        eventType:
          type: string
          enum:
            - changeReport
          example: changeReport
        eventVersion:
          type: string
          example: '1'
        context:
          type: object
          required:
            - deviceType
            - deviceMac
            - power
            - brightness
            - color
            - timeOfSample
          properties:
            deviceType:
              type: string
              enum:
                - RGBICWW Strip Light
            deviceMac:
              type: string
              description: Device MAC address
              example: A1B2C3D4E5F6
            power:
              type: string
              enum:
                - 'on'
                - 'off'
            brightness:
              type: integer
              minimum: 1
              maximum: 100
            color:
              type: string
              pattern: ^[0-9A-Fa-f]{6}$
            colorTemperature:
              type: integer
              minimum: 2700
              maximum: 6500
            timeOfSample:
              type: integer
              description: Unix timestamp in milliseconds
              example: 1658123456789
    RGBICWWFloorLampDevice:
      allOf:
        - $ref: '#/components/schemas/DeviceBase'
        - type: object
          properties:
            deviceType:
              type: string
              enum:
                - RGBICWW Floor Lamp
              example: RGBICWW Floor Lamp
    RGBICWWFloorLampStatus:
      type: object
      description: RGBICWW Floor Lamp device status
      required:
        - deviceId
        - deviceType
        - power
        - brightness
        - color
      properties:
        deviceId:
          type: string
          example: A1B2C3D4E5F6
        deviceType:
          type: string
          enum:
            - RGBICWW Floor Lamp
          example: RGBICWW Floor Lamp
        power:
          type: string
          description: Power state
          enum:
            - 'on'
            - 'off'
          example: 'on'
        brightness:
          type: integer
          description: Brightness level (1-100)
          minimum: 1
          maximum: 100
          example: 75
        color:
          type: string
          description: RGB color in hex format
          pattern: ^[0-9A-Fa-f]{6}$
          example: FF6347
        colorTemperature:
          type: integer
          description: Color temperature in Kelvin (2700-6500)
          minimum: 2700
          maximum: 6500
          example: 4000
    RGBICWWFloorLampCommand:
      type: object
      description: RGBICWW Floor Lamp device command
      required:
        - commandType
        - command
      properties:
        commandType:
          type: string
          description: Command type
          enum:
            - command
          example: command
        command:
          type: string
          description: |
            Command to execute:
            - turnOn: Turn on the floor lamp
            - turnOff: Turn off the floor lamp
            - setBrightness: Set brightness level
            - setColor: Set RGB color
            - setColorTemperature: Set color temperature
          enum:
            - turnOn
            - turnOff
            - setBrightness
            - setColor
            - setColorTemperature
          example: setColor
        parameter:
          oneOf:
            - type: string
              description: For turnOn/turnOff
              enum:
                - default
            - type: integer
              description: For setBrightness (1-100) or setColorTemperature (2700-6500)
              minimum: 1
            - type: string
              description: For setColor (RGB hex)
              pattern: ^[0-9A-Fa-f]{6}$
          example: FF6347
    RGBICWWFloorLampWebhookEvent:
      type: object
      description: RGBICWW Floor Lamp webhook event payload
      required:
        - eventType
        - eventVersion
        - context
      properties:
        eventType:
          type: string
          enum:
            - changeReport
          example: changeReport
        eventVersion:
          type: string
          example: '1'
        context:
          type: object
          required:
            - deviceType
            - deviceMac
            - power
            - brightness
            - color
            - timeOfSample
          properties:
            deviceType:
              type: string
              enum:
                - RGBICWW Floor Lamp
            deviceMac:
              type: string
              description: Device MAC address
              example: A1B2C3D4E5F6
            power:
              type: string
              enum:
                - 'on'
                - 'off'
            brightness:
              type: integer
              minimum: 1
              maximum: 100
            color:
              type: string
              pattern: ^[0-9A-Fa-f]{6}$
            colorTemperature:
              type: integer
              minimum: 2700
              maximum: 6500
            timeOfSample:
              type: integer
              description: Unix timestamp in milliseconds
              example: 1658123456789
    RGBICNeonWireRopeLightDevice:
      allOf:
        - $ref: '#/components/schemas/DeviceBase'
        - type: object
          properties:
            deviceType:
              type: string
              enum:
                - RGBIC Neon Wire Rope Light
              example: RGBIC Neon Wire Rope Light
    RGBICNeonWireRopeLightStatus:
      type: object
      description: RGBIC Neon Wire Rope Light device status
      required:
        - deviceId
        - deviceType
        - power
        - brightness
        - color
      properties:
        deviceId:
          type: string
          example: A1B2C3D4E5F6
        deviceType:
          type: string
          enum:
            - RGBIC Neon Wire Rope Light
          example: RGBIC Neon Wire Rope Light
        power:
          type: string
          description: Power state
          enum:
            - 'on'
            - 'off'
          example: 'on'
        brightness:
          type: integer
          description: Brightness level (1-100)
          minimum: 1
          maximum: 100
          example: 75
        color:
          type: string
          description: RGB color in hex format
          pattern: ^[0-9A-Fa-f]{6}$
          example: FF6347
    RGBICNeonWireRopeLightCommand:
      type: object
      description: RGBIC Neon Wire Rope Light device command
      required:
        - commandType
        - command
      properties:
        commandType:
          type: string
          description: Command type
          enum:
            - command
          example: command
        command:
          type: string
          description: |
            Command to execute:
            - turnOn: Turn on the neon light
            - turnOff: Turn off the neon light
            - setBrightness: Set brightness level
            - setColor: Set RGB color
          enum:
            - turnOn
            - turnOff
            - setBrightness
            - setColor
          example: setColor
        parameter:
          oneOf:
            - type: string
              description: For turnOn/turnOff
              enum:
                - default
            - type: integer
              description: For setBrightness (1-100)
              minimum: 1
              maximum: 100
            - type: string
              description: For setColor (RGB hex)
              pattern: ^[0-9A-Fa-f]{6}$
          example: FF6347
    RGBICNeonWireRopeLightWebhookEvent:
      type: object
      description: RGBIC Neon Wire Rope Light webhook event payload
      required:
        - eventType
        - eventVersion
        - context
      properties:
        eventType:
          type: string
          enum:
            - changeReport
          example: changeReport
        eventVersion:
          type: string
          example: '1'
        context:
          type: object
          required:
            - deviceType
            - deviceMac
            - power
            - brightness
            - color
            - timeOfSample
          properties:
            deviceType:
              type: string
              enum:
                - RGBIC Neon Wire Rope Light
            deviceMac:
              type: string
              description: Device MAC address
              example: A1B2C3D4E5F6
            power:
              type: string
              enum:
                - 'on'
                - 'off'
            brightness:
              type: integer
              minimum: 1
              maximum: 100
            color:
              type: string
              pattern: ^[0-9A-Fa-f]{6}$
            timeOfSample:
              type: integer
              description: Unix timestamp in milliseconds
              example: 1658123456789
    RGBICNeonRopeLightDevice:
      allOf:
        - $ref: '#/components/schemas/DeviceBase'
        - type: object
          properties:
            deviceType:
              type: string
              enum:
                - RGBIC Neon Rope Light
              example: RGBIC Neon Rope Light
    RGBICNeonRopeLightStatus:
      type: object
      description: RGBIC Neon Rope Light device status
      required:
        - deviceId
        - deviceType
        - power
        - brightness
        - color
      properties:
        deviceId:
          type: string
          example: A1B2C3D4E5F6
        deviceType:
          type: string
          enum:
            - RGBIC Neon Rope Light
          example: RGBIC Neon Rope Light
        power:
          type: string
          description: Power state
          enum:
            - 'on'
            - 'off'
          example: 'on'
        brightness:
          type: integer
          description: Brightness level (1-100)
          minimum: 1
          maximum: 100
          example: 75
        color:
          type: string
          description: RGB color in hex format
          pattern: ^[0-9A-Fa-f]{6}$
          example: FF6347
    RGBICNeonRopeLightCommand:
      type: object
      description: RGBIC Neon Rope Light device command
      required:
        - commandType
        - command
      properties:
        commandType:
          type: string
          description: Command type
          enum:
            - command
          example: command
        command:
          type: string
          description: |
            Command to execute:
            - turnOn: Turn on the neon light
            - turnOff: Turn off the neon light
            - setBrightness: Set brightness level
            - setColor: Set RGB color
          enum:
            - turnOn
            - turnOff
            - setBrightness
            - setColor
          example: setColor
        parameter:
          oneOf:
            - type: string
              description: For turnOn/turnOff
              enum:
                - default
            - type: integer
              description: For setBrightness (1-100)
              minimum: 1
              maximum: 100
            - type: string
              description: For setColor (RGB hex)
              pattern: ^[0-9A-Fa-f]{6}$
          example: FF6347
    RGBICNeonRopeLightWebhookEvent:
      type: object
      description: RGBIC Neon Rope Light webhook event payload
      required:
        - eventType
        - eventVersion
        - context
      properties:
        eventType:
          type: string
          enum:
            - changeReport
          example: changeReport
        eventVersion:
          type: string
          example: '1'
        context:
          type: object
          required:
            - deviceType
            - deviceMac
            - power
            - brightness
            - color
            - timeOfSample
          properties:
            deviceType:
              type: string
              enum:
                - RGBIC Neon Rope Light
            deviceMac:
              type: string
              description: Device MAC address
              example: A1B2C3D4E5F6
            power:
              type: string
              enum:
                - 'on'
                - 'off'
            brightness:
              type: integer
              minimum: 1
              maximum: 100
            color:
              type: string
              pattern: ^[0-9A-Fa-f]{6}$
            timeOfSample:
              type: integer
              description: Unix timestamp in milliseconds
              example: 1658123456789
    CandleWarmerLampDevice:
      allOf:
        - $ref: '#/components/schemas/DeviceBase'
        - type: object
          properties:
            deviceType:
              type: string
              enum:
                - Candle Warmer Lamp
              example: Candle Warmer Lamp
    CandleWarmerLampStatus:
      type: object
      description: Candle Warmer Lamp device status
      required:
        - deviceId
        - deviceType
        - power
        - brightness
      properties:
        deviceId:
          type: string
          example: A1B2C3D4E5F6
        deviceType:
          type: string
          enum:
            - Candle Warmer Lamp
          example: Candle Warmer Lamp
        power:
          type: string
          description: Power state
          enum:
            - 'on'
            - 'off'
          example: 'on'
        brightness:
          type: integer
          description: Brightness level (1-100)
          minimum: 1
          maximum: 100
          example: 75
    CandleWarmerLampCommand:
      type: object
      description: Candle Warmer Lamp device command
      required:
        - commandType
        - command
      properties:
        commandType:
          type: string
          description: Command type
          enum:
            - command
          example: command
        command:
          type: string
          description: |
            Command to execute:
            - turnOn: Turn on the lamp
            - turnOff: Turn off the lamp
            - setBrightness: Set brightness level
          enum:
            - turnOn
            - turnOff
            - setBrightness
          example: setBrightness
        parameter:
          oneOf:
            - type: string
              description: For turnOn/turnOff
              enum:
                - default
            - type: integer
              description: For setBrightness (1-100)
              minimum: 1
              maximum: 100
          example: 75
    CandleWarmerLampWebhookEvent:
      type: object
      description: Candle Warmer Lamp webhook event payload
      required:
        - eventType
        - eventVersion
        - context
      properties:
        eventType:
          type: string
          enum:
            - changeReport
          example: changeReport
        eventVersion:
          type: string
          example: '1'
        context:
          type: object
          required:
            - deviceType
            - deviceMac
            - power
            - brightness
            - timeOfSample
          properties:
            deviceType:
              type: string
              enum:
                - Candle Warmer Lamp
            deviceMac:
              type: string
              description: Device MAC address
              example: A1B2C3D4E5F6
            power:
              type: string
              enum:
                - 'on'
                - 'off'
            brightness:
              type: integer
              minimum: 1
              maximum: 100
            timeOfSample:
              type: integer
              description: Unix timestamp in milliseconds
              example: 1658123456789
    PlugMiniDevice:
      allOf:
        - $ref: '#/components/schemas/DeviceBase'
        - type: object
          description: Plug Mini devices (US/JP/EU variants share the same schema)
          properties:
            deviceType:
              type: string
              enum:
                - Plug Mini (US)
                - Plug Mini (JP)
                - Plug Mini (EU)
              example: Plug Mini (US)
    PlugMiniStatus:
      type: object
      description: Plug Mini device status (compatible with all regional variants)
      required:
        - deviceId
        - deviceType
        - power
      properties:
        deviceId:
          type: string
          example: 84F70353A4D1
        deviceType:
          type: string
          enum:
            - Plug Mini (US)
            - Plug Mini (JP)
            - Plug Mini (EU)
          example: Plug Mini (US)
        power:
          type: string
          enum:
            - 'on'
            - 'off'
        voltage:
          type: number
        weight:
          type: number
        electricCurrent:
          type: number
    PlugMiniCommand:
      type: object
      required:
        - commandType
        - command
      properties:
        commandType:
          type: string
          enum:
            - command
        command:
          type: string
          enum:
            - turnOn
            - turnOff
            - toggle
        parameter:
          type: string
          enum:
            - default
    PlugMiniWebhookEvent:
      type: object
      required:
        - eventType
        - eventVersion
        - context
      properties:
        eventType:
          type: string
          enum:
            - changeReport
        eventVersion:
          type: string
        context:
          type: object
          required:
            - deviceType
            - deviceMac
            - power
            - timeOfSample
          properties:
            deviceType:
              type: string
              enum:
                - Plug Mini (US)
                - Plug Mini (JP)
                - Plug Mini (EU)
            deviceMac:
              type: string
              description: Device MAC address
              example: 84F70353A4D1
            power:
              type: string
              enum:
                - 'on'
                - 'off'
            voltage:
              type: number
              description: Current voltage
            weight:
              type: number
              description: Power consumption in W
            electricCurrent:
              type: number
              description: Current in A
            timeOfSample:
              type: integer
              description: Unix timestamp in milliseconds
              example: 1658123456789
    RelaySwitchDevice:
      allOf:
        - $ref: '#/components/schemas/DeviceBase'
        - type: object
          properties:
            deviceType:
              type: string
              enum:
                - Relay Switch 1
                - Relay Switch 1PM
                - Relay Switch 2PM
              example: Relay Switch 1PM
    RelaySwitchStatus:
      type: object
      required:
        - deviceId
        - deviceType
        - power
      properties:
        deviceId:
          type: string
        deviceType:
          type: string
          enum:
            - Relay Switch 1
            - Relay Switch 1PM
            - Relay Switch 2PM
        power:
          type: string
          enum:
            - 'on'
            - 'off'
        voltage:
          type: number
          description: Current voltage (PM models only)
        weight:
          type: number
          description: Power consumption in W (PM models only)
        electricCurrent:
          type: number
          description: Current in A (PM models only)
    RelaySwitchCommand:
      type: object
      required:
        - commandType
        - command
      properties:
        commandType:
          type: string
          enum:
            - command
        command:
          type: string
          enum:
            - turnOn
            - turnOff
            - toggle
        parameter:
          type: string
          enum:
            - default
    RelaySwitchWebhookEvent:
      type: object
      description: Relay Switch webhook event payload
      required:
        - eventType
        - eventVersion
        - context
      properties:
        eventType:
          type: string
          enum:
            - changeReport
          example: changeReport
        eventVersion:
          type: string
          example: '1'
        context:
          type: object
          required:
            - deviceType
            - deviceMac
            - power
            - timeOfSample
          properties:
            deviceType:
              type: string
              enum:
                - Relay Switch 1
                - Relay Switch 1PM
                - Relay Switch 2PM
            deviceMac:
              type: string
              description: Device MAC address
              example: A1B2C3D4E5F6
            power:
              type: string
              enum:
                - 'on'
                - 'off'
            voltage:
              type: number
              description: Current voltage (PM models only)
            weight:
              type: number
              description: Power consumption in W (PM models only)
            electricCurrent:
              type: number
              description: Current in A (PM models only)
            timeOfSample:
              type: integer
              description: Unix timestamp in milliseconds
              example: 1658123456789
    BlindTiltDevice:
      allOf:
        - $ref: '#/components/schemas/DeviceBase'
        - type: object
          properties:
            deviceType:
              type: string
              enum:
                - Blind Tilt
              example: Blind Tilt
    BlindTiltStatus:
      type: object
      required:
        - deviceId
        - deviceType
        - direction
        - slidePosition
      properties:
        deviceId:
          type: string
        deviceType:
          type: string
          enum:
            - Blind Tilt
        direction:
          type: string
          enum:
            - up
            - down
        slidePosition:
          type: integer
          minimum: 0
          maximum: 100
        battery:
          type: integer
          minimum: 0
          maximum: 100
    BlindTiltCommand:
      type: object
      required:
        - commandType
        - command
      properties:
        commandType:
          type: string
          enum:
            - command
        command:
          type: string
          enum:
            - turnOn
            - turnOff
            - setPosition
        parameter:
          type: string
          description: For setPosition, use "0,ff,<position>" format
    BlindTiltWebhookEvent:
      type: object
      description: Blind Tilt webhook event payload
      required:
        - eventType
        - eventVersion
        - context
      properties:
        eventType:
          type: string
          enum:
            - changeReport
          example: changeReport
        eventVersion:
          type: string
          example: '1'
        context:
          type: object
          required:
            - deviceType
            - deviceMac
            - direction
            - slidePosition
            - timeOfSample
          properties:
            deviceType:
              type: string
              enum:
                - Blind Tilt
            deviceMac:
              type: string
              description: Device MAC address
              example: A1B2C3D4E5F6
            direction:
              type: string
              enum:
                - up
                - down
            slidePosition:
              type: integer
              minimum: 0
              maximum: 100
            battery:
              type: integer
              minimum: 0
              maximum: 100
            timeOfSample:
              type: integer
              description: Unix timestamp in milliseconds
              example: 1658123456789
    RollerShadeDevice:
      allOf:
        - $ref: '#/components/schemas/DeviceBase'
        - type: object
          properties:
            deviceType:
              type: string
              enum:
                - Roller Shade
              example: Roller Shade
    RollerShadeStatus:
      type: object
      required:
        - deviceId
        - deviceType
        - slidePosition
      properties:
        deviceId:
          type: string
        deviceType:
          type: string
          enum:
            - Roller Shade
        slidePosition:
          type: integer
          minimum: 0
          maximum: 100
        moving:
          type: boolean
        battery:
          type: integer
          minimum: 0
          maximum: 100
    RollerShadeCommand:
      type: object
      required:
        - commandType
        - command
      properties:
        commandType:
          type: string
          enum:
            - command
        command:
          type: string
          enum:
            - turnOn
            - turnOff
            - setPosition
        parameter:
          type: string
          description: For setPosition, use "0,ff,<position>" format
    RollerShadeWebhookEvent:
      type: object
      description: Roller Shade webhook event payload
      required:
        - eventType
        - eventVersion
        - context
      properties:
        eventType:
          type: string
          enum:
            - changeReport
          example: changeReport
        eventVersion:
          type: string
          example: '1'
        context:
          type: object
          required:
            - deviceType
            - deviceMac
            - slidePosition
            - timeOfSample
          properties:
            deviceType:
              type: string
              enum:
                - Roller Shade
            deviceMac:
              type: string
              description: Device MAC address
              example: A1B2C3D4E5F6
            slidePosition:
              type: integer
              minimum: 0
              maximum: 100
            moving:
              type: boolean
            battery:
              type: integer
              minimum: 0
              maximum: 100
            timeOfSample:
              type: integer
              description: Unix timestamp in milliseconds
              example: 1658123456789
    LockProDevice:
      allOf:
        - $ref: '#/components/schemas/DeviceBase'
        - type: object
          properties:
            deviceType:
              type: string
              enum:
                - Smart Lock Pro
              example: Smart Lock Pro
    LockProStatus:
      type: object
      required:
        - deviceId
        - deviceType
        - lockState
        - doorState
      properties:
        deviceId:
          type: string
        deviceType:
          type: string
          enum:
            - Smart Lock Pro
        lockState:
          type: string
          enum:
            - locked
            - unlocked
            - jammed
        doorState:
          type: string
          enum:
            - closed
            - opened
            - unknown
        calibrate:
          type: boolean
        battery:
          type: integer
          minimum: 0
          maximum: 100
    LockProCommand:
      type: object
      required:
        - commandType
        - command
      properties:
        commandType:
          type: string
          enum:
            - command
        command:
          type: string
          enum:
            - lock
            - unlock
        parameter:
          type: string
          enum:
            - default
    LockProWebhookEvent:
      type: object
      description: Smart Lock Pro webhook event payload
      required:
        - eventType
        - eventVersion
        - context
      properties:
        eventType:
          type: string
          enum:
            - changeReport
          example: changeReport
        eventVersion:
          type: string
          example: '1'
        context:
          type: object
          required:
            - deviceType
            - deviceMac
            - lockState
            - doorState
            - timeOfSample
          properties:
            deviceType:
              type: string
              enum:
                - Smart Lock Pro
            deviceMac:
              type: string
              description: Device MAC address
              example: A1B2C3D4E5F6
            lockState:
              type: string
              enum:
                - locked
                - unlocked
                - jammed
            doorState:
              type: string
              enum:
                - closed
                - opened
                - unknown
            calibrate:
              type: boolean
            battery:
              type: integer
              minimum: 0
              maximum: 100
            timeOfSample:
              type: integer
              description: Unix timestamp in milliseconds
              example: 1658123456789
    KeypadDevice:
      allOf:
        - $ref: '#/components/schemas/DeviceBase'
        - type: object
          properties:
            deviceType:
              type: string
              enum:
                - Keypad
                - Keypad Touch
              example: Keypad
    KeypadStatus:
      type: object
      required:
        - deviceId
        - deviceType
      properties:
        deviceId:
          type: string
        deviceType:
          type: string
          enum:
            - Keypad
            - Keypad Touch
        battery:
          type: integer
          minimum: 0
          maximum: 100
          description: Battery level percentage
    KeypadWebhookEvent:
      type: object
      description: Keypad webhook event payload (battery status changes)
      required:
        - eventType
        - eventVersion
        - context
      properties:
        eventType:
          type: string
          enum:
            - changeReport
          example: changeReport
        eventVersion:
          type: string
          example: '1'
        context:
          type: object
          required:
            - deviceType
            - deviceMac
            - timeOfSample
          properties:
            deviceType:
              type: string
              enum:
                - Keypad
                - Keypad Touch
            deviceMac:
              type: string
              description: Device MAC address
              example: A1B2C3D4E5F6
            battery:
              type: integer
              minimum: 0
              maximum: 100
            timeOfSample:
              type: integer
              description: Unix timestamp in milliseconds
              example: 1658123456789
    LockUltraDevice:
      allOf:
        - $ref: '#/components/schemas/DeviceBase'
        - type: object
          properties:
            deviceType:
              type: string
              enum:
                - Smart Lock Ultra
              example: Smart Lock Ultra
    LockUltraStatus:
      type: object
      description: Smart Lock Ultra device status
      required:
        - deviceId
        - deviceType
        - lockState
[...]
